{% import "macros.jinja2" as macros %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-index.css') }}">
    <title>Document</title>
</head>
<body>
    {{ macros.portada() }}

    <section class="bienvenida">
        <h1>Bienvenidos</h1>

        <div class="cont_nav">
            <nav>
                <a href="{{ url_for('inicio') }}">Inicio</a>
                <a href="{{ url_for('lista_alumnos') }}">Alumnos</a>
                <a href="{{ url_for('fechas') }}">Fechas</a>
            </nav>
        </div>
    </section>

    {{ macros.footer() }}
</body>
</html>
