.cont-tarjeta{
    display: flex;
    justify-content: center;
    margin: 50px 0 200px 0;
}
.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 1px #473c3c;
    width: 60%;
    height: fit-content;
    padding: 30px 0;
}
form div{
    margin-bottom: 15px;
}
input{
    padding: 8px;
    width: 300px;
    margin-left: 10px;
    border-style: none;
    border-radius: 5px;
    background: #d4baba;
}
.cont-btn{
    display: flex;
    justify-content: center;
    margin: 0;
}
button{
    padding: 8px 18px;
    border-style: none;
    border-radius: 5px;
}
