.titulo{
    margin: 40px 0 0 60px;
    font-family: Verdana;
    font-size: 10mm;
}
.cont-table{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.datos, .aciones{
    border-collapse: collapse;
}
th, td{
    width: 200px;
    height: 25px;
    border: solid 1px #000;
}
.datos td{
    padding: 5px;
}
.id{
    text-align: center;
}
.aciones th, td{
    width: 70px;
    height: 25px;
    border: solid 1px #000;
}
.t-button-delete, .t-button-edit{
    width: 100%;
    height: 100%;
    border-style: none;
}

.b-agregar{
    margin: 0 0 50px 50px;
    border-style: none;
    border-radius: 8px;
    background: rgb(15, 9, 75);
    color: #fff;
    font-style: none;
    font-size: 5mm;
    padding: 10px 20px;
}