.bienvenida{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 50px 0;
}
.msj_bienvenida{
    font-family: Verdana;
    font-size: 17mm;
    margin: 0;
}
p{
    font-size: 5mm;
}
.cont_nav{
    display: grid;
    margin: auto;
    margin-top: 50px;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: 200px;
    gap: 30px;
}
.cont_nav div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #302c2c;
    border-radius: 10px;
}
.cont_nav button{
    border-style: none;
    border-radius: 8px;
    background: rgb(15, 9, 75);
    color: #fff;
    font-style: none;
    font-size: 5mm;
    padding: 10px 20px;
}