/*Estilo de la portada*/
.portada{
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: rgb(15, 9, 75);
}
.portada h1{
    display: flex;
    align-items: center;
    font-size: 6mm;
    font-family: Verdana;
    color: #fff;
}
.portada nav{
    display: flex;
    gap: 20px;
}
.portada a{
    color: #fff;
    font-size: 5mm;
}

/*Estilo del footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: rgb(15, 9, 75);
}
.footer p{
    color: #fff;
}

/*Estilo de la tabla*/
.cont-table {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
table {
    border-collapse: collapse;
}
th,
td {
    width: 200px;
    height: 25px;
    border: solid 1px #000;
    padding: 5px;
}
.dni{
    text-align: center;
}
.aciones th,
td {
    width: 70px;
    height: 25px;
    border: solid 1px #000;
}
/* Botones de la tabla */
.th-button{
    width: 100px;
}
.t-button{
    padding: 0;
}
.btn-action, .btn-action-delete {
    border-style: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;
}
.btn-action {
    background: rgb(117, 117, 238);
}
.btn-action-delete {
    background: rgb(231, 65, 65);
}

/*Estilo del titulo de la página*/
.titulo {
    margin: 40px 0 0 60px;
    font-family: Verdana;
    font-size: 10mm;
}