/*Estilo de la portada*/
.portada{
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: rgb(15, 9, 75);
}
.portada h1{
    display: flex;
    align-items: center;
    font-size: 6mm;
    font-family: Verdana;
    color: #fff;
}
.portada nav{
    display: flex;
    gap: 20px;
}
.portada a{
    color: #fff;
    font-size: 5mm;
}

/*Estilo del footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: rgb(15, 9, 75);
}
.footer p{
    color: #fff;
}