{% import "macros.jinja2" as macros %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-macro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-index.css') }}">
    <title>Document</title>
</head>
<body>
    {{ macros.portada() }}

    <h1 class="titulo">Calificaciones</h1>

    <div class="cont-table">
    <table class="datos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Materia</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            {% for n in notas %}
                <tr>
                    <td>{{ n.nombre }}</td>
                    <td>{{ n.materia }}</td>
                    <td>{{ n.notas }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    {{ macros.footer() }}
</body>
</html>