{% import "macros.jinja2" as macros %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-macro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-registro.css') }}">
    <title>Document</title>
</head>
<body>
    {{ macros.portada() }}
    <div class="cont-tarjeta">
        <div class="tarjeta">
            <form action="/user" method="POST">
                <div>
                    <label>Nombre: <input type="text" name="nombre"></label>
                </div>
                <div>
                    <label>Apellido: <input type="text" name="apellido"></label>
                </div>
                <div>
                    <label>Edad: <input type="number" name="edad"></label>
                </div>
                <div>
                    <label>DNI: <input type="number" name="dni"></label>
                </div>
                <div class="cont-btn">
                    <button type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
    {{ macros.footer() }}
</body>
</html>