{% import "macros.jinja2" as macros %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-macro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-registro.css') }}">
    <title>Registrar Alumno</title>
</head>
<body>
    {{ macros.portada() }}
    
    <div class="cont-tarjeta">
        <div class="tarjeta">
            <form action="/user" method="POST" id="editForm">
                <h2>Registrar Nuevo Alumno</h2>
                <div>
                    <label>
                        <span>Nombre</span>
                        <input type="text" name="nombre" placeholder="Ingrese el nombre" required>
                    </label>
                </div>
                <div>
                    <label>
                        <span>Apellido</span>
                        <input type="text" name="apellido" placeholder="Ingrese el apellido" required>
                    </label>
                </div>
                <div>
                    <label>
                        <span>Edad</span>
                        <input type="number" name="edad" placeholder="Ingrese la edad" min="1" max="120" required>
                    </label>
                </div>
                <div>
                    <label>
                        <span>DNI</span>
                        <input type="number" name="dni" placeholder="Ingrese el DNI" required>
                    </label>
                </div>
                <div class="cont-btn">
                    <button type="submit">Registrar Alumno</button>
                </div>
            </form>
        </div>
    </div>
    
    {{ macros.footer() }}
</body>
</html>